.home{
       justify-content: space-around;
    align-items: center;
}

form {
    max-width: 500px;
    margin: auto;
  }
  
  .form-group {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
  }
  
  .radio-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .radio-group label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .radio-image {
    width: 100px;
    height: 100px;
    margin-top: 10px;
  }
  
  button.form-control {
    cursor: pointer;
  }

