:root{
    --azulOscuro:#1e1834 ;
    --lila:#A29AC2;
    --gris: #75747B;


}

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none; 
    text-transform: capitalize;
    transition: .2s linear;
    
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding: 6rem;   
    overflow-x: hidden; 
}

section{
    padding: 2rem 9%;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: url(/img/fondomain.png) no-repeat center center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    

}

.home .content{
    max-width: 50rem;
    
}

.home .content h3{
    font-size: 6rem;
    color: #e5e2e2;
}

.home .content span{
    font-size: 3.5rem;
    color: #e5e2e2;
    pad: 1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color: #e5e2e2;
    pad: 1rem 0;
    line-height: 1.5;
}


.home .content h3{
    font-size: 6rem;
    color: #e5e2e2;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--azulOscuro);
    padding: 2rem 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);

}

.heading{
    text-align: center;
    font-size: 4rem;
    color: var(--lila);
    padding: 1rem;
    margin: 2rem;
    background: #e3e3e3

}

.heading span{
color: var(--gris);
padding-right: 2rem;
}


.logoimg{
    height: 7rem;
    width:7rem;
     position: fixed;  /*ojo     */
    left: 0;
    top:.5rem;
}
header .logo{
    font-size: 3rem;
    color: var(--lila);
    font-weight: bolder;
    padding-left: 5rem;
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: var(--lila);
}

header .navbar a:hover{
    color: var(--azulOscuro);
}

header #toggler{
    display: none;
    color: var(--lila);
     
}

header .fa-bars{
    font-size: 3rem ;
    color: var(--lila);
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer ;
    border: .1rem solid var(--lila);
    display: none ;
}

.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;

}

.about .row .presentacion{
    flex: 1 1 40rem;
    position: relative;
    height: 40rem;
}

.about .row .presentacion iframe{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);

    height: 100%;
    object-fit: cover;

}


.about .row .content{
    flex:1 1 40rem ;
}

.about .row .content h3{
    font-size: 3rem;
    color: #333;

}

.about .row .content p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem ;
    line-height: 1.5;
    
}


.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1) ;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    position: relative;
    
}
.products .box-container .box .imagen img{
    width: 25rem;
    height: 25rem;
}

.products .box-container .box:hover .imagen img{
    transform: scale(1.1);
}

.products .box-container .box .imagen{
    position: relative; 
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.products .box-container .box .content{
    text-align: center;
    padding: 2rem;
}
.products .box-container .box .content h3{
   font-size: 2.5rem;
   color: #000;
}

.footer{
    background-color: var(--azulOscuro);
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.footer .box-container .box{ 
    flex: 1 1 25rem ;

}
.footer .box-container .box h3{ 
    color: var(--lila);
    font-size: 2.5rem ;
    padding: 1rem 0;

    
}
.footer .box-container .box a{ 
    display: block;
    color: var(--gris);
    font-size: 1.5rem ;
    padding: 1rem 0;
    
}

.footer .box-container .box a:hover{ 
    color: var(--lila);
    text-decoration:underline;
    
}

.footer .creditos{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem ;
    font-size: 2rem;
    color: var(--gris) ;
    border-top: .1rem solid rgba(0,0,0,.1);
}

.footer .creditos span{
    
    color: var(--lila) ;


}

























/*Media queries*/

@media (max-width: 991px){
    html{
        font-size: 55%;

    }
    header{
        padding:2rem ;
    }
    section{
        padding:2rem ;
    }
    .home{
        background-position: left;
    }
}

@media (max-width: 768px){
    header .fa-bars{
        display: block;

    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0,0,0,.1);
/* Esconder los a */

        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
/* Comportamiento para que la hamburguesa descienda */
header #toggler:checked ~ .navbar{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0,0,0,.1);
        display: block;

    }   

    .home .content h3{
       font-size: 5rem;

    }

    .home .content span{
        font-size: 2.5rem;
        
     }

    }
@media (max-width: 450px){
        html{
            font-size: 50%;
    
        }

        .heading{
            font-size: 3rem;
        }
       
    }

