:root{
    --azulOscuro:#1e1834 ;
    --lila:#A29AC2;
    --gris: #75747B;


}

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none !important; 
    /* text-transform: capitalize; */
    transition: .2s linear;
    
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding: 6rem;   
    overflow-x: hidden; 
}

section{
    padding: 2rem 9%;
}

.home{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100vh;
    width: 100vw;
    background: url(/img/main_sinlogo.png) no-repeat center center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    

}
/* .homeProductos{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100vh;
    width: 100vw;
    background: url(../img/formaPago.png) no-repeat center center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    

} */

.home .content{
    max-width: 50rem;
    
}

.home .content h3{
    font-size: 6rem;
    color: var(--lila);
    
}

.home .content span{
    font-size: 3.5rem;
    color: var(--lila);
    pad: 1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color: #e5e2e2;
    pad: 1rem 0;
    line-height: 1.5;
}


.home .content h3{
    font-size: 6rem;
    color: #e5e2e2;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--azulOscuro);
    padding: 2rem 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);

}

.heading{
    text-align: center;
    font-size: 3rem;
    color: var(--lila);
    padding: 3rem;
    margin: 2.5rem;
    background: #e3e3e3 
}

.headingNosotros{
    text-align: center;
    font-size: 3rem;
    color: var(--lila);
    padding: 3rem;
    margin: 2rem;
    background: #e3e3e3;
    

}




.headingContactenos{
    text-align: center;
    font-size: 4rem;
    color: var(--lila);
    padding: 3rem;
    margin: 2rem;
    background: #e3e3e3;
    

}

.contactenos{
    margin-top: 7rem;
}

.contactenos .row{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    margin: 2rem;
    padding-bottom: 3rem;
    align-items: center;
   
}

.form-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: #e3e3e3;

    padding: 10px;
  }
  
  .form-container > div {
   /* background-color: rgba(255, 255, 255, 0.8);*/
    text-align: center;
    padding: 20px 0;
    font-size: 2rem;    
  }
  
  
  .form-item12 {
    grid-column: 1 / span 3;
  }
  .form-item2 {
    grid-column: 4 / span 6;
  }
  .form-item22 {
    grid-column: 10 / span 3;
  }

form {
    width: 100%;
    padding: 20px;
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 0 auto;
    box-sizing: border-box;
}
.form-group {
    margin-bottom: 15px;
    border: black 1px solid;
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0 0 15px 5px rgb(115 108 144);
}
.form-group label {
    display: block;
    margin-bottom: 0px; 
}
.form-group input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
font-size: large;
}

.form-group select {
    width: 40%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 15px;
}
.form-group input[type="radio"] {
    width: auto;
}
.form-group .radio-group {
    display: flex;
    justify-content: space-evenly;
}
.form-group .radio-group label {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group .radio-group img {
    max-width: 100px;
    height: auto;
    margin-top: 5px;
}
.checkbox-group {
    display: flex;
    margin: 0;
    padding: 15px;
    justify-content: center;
    /*align-items: center;*/
   
}


input[type="checkbox"] {
    width: 10%;
    padding: 0px;
    margin: 0;
}
    
.form-group .checkbox-group input {
    width: auto;
    margin-right: 5px;
}
.form-group.button-group {
    display: flex;
    justify-content: space-evenly;
}
.form-group .button-group button {
    padding: 10px 20px;
    cursor: pointer;
}

button {
    min-width: 130px;
    
       color: #fff;
       padding: 5px 10px;
       font-weight: bold;
       cursor: pointer;
       transition: all 0.3s ease;
       position: relative;
       display: inline-block;
       outline: none;
       border-radius: 20px;
       }



button[type="submit"] {
    border: 2px solid green;
    background: #ccf3e0;
    color: green;
}
button[type="submit"]:hover {
    border: 2px solid #adb5bd;
    background:green;
    color:  #ccf3e0;
}



button[type="reset"] {
    border: 2px solid rgb(204, 80, 80);
    background: #fddae9;
    color: rgb(204, 80, 80);
}
button[type="reset"]:hover {
    border: 2px solid #adb5bd;
    background: rgb(204, 80, 80);
    color: #fddae9;
}















.heading span{
color: var(--gris);
padding-right: 2rem;
}


.logoimg{
    height: 7rem;
    width:7rem;
     position: fixed;  /*ojo     */
    left: 0;
    top:.5rem;
}
header .logo{
    font-size: 3rem;
    color: var(--lila);
    font-weight: bolder;
    padding-left: 5rem;
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: var(--lila);
}

header .navbar a:hover{
    color: var(--azulOscuro);
}

header #toggler{
    display: none;
    color: var(--lila);
     
}

header .fa-bars{
    font-size: 3rem ;
    color: var(--lila);
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer ;
    border: .1rem solid var(--lila);
    display: none ;
}

.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;

}
.aboutNosotros{
    margin-top: 7rem;
}

.aboutNosotros .row{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
    align-items: baseline;
   
}
@media (min-width: 1971px){
    .aboutNosotros .row{ align-items: center;}
 }

.about .row .presentacion{
    flex: 1 1 40rem;
    position: relative;
    height: 40rem;
    
}

.aboutNosotros .row .presentacion{
    flex: 1 1 40rem;
    position: relative;
    height:35rem;
   /* overflow-x: hidden; */
}

.about .row .presentacion iframe{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);

    height: 100%;
    object-fit: cover;

}




.about .row .content{
    flex:1 1 40rem ;
}

.aboutNosotros .row .content{
    flex:1 1 40rem ;
}

.about .row .content h3{
    font-size: 3rem;
    color: #333;

}


.about .row .content p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem ;
    line-height: 1.5;
    
}

.aboutNosotros .row .content p{
    font-size: 1.5rem;
    color: #2c2b2b;
    padding: .5rem 0;
    padding-top: 1rem ;
    line-height: 1.5;

}


.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1) ;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    position: relative;
    
}
.products .box-container .box .imagen img{
    width: 25rem;
    height: 25rem;
}

.products .box-container .box:hover .imagen img{
    transform: scale(1.1);
}

.products .box-container .box .imagen{
    position: relative; 
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.products .box-container .box .content{
    text-align: center;
    padding: 2rem;
}
.products .box-container .box .content h3{
   font-size: 2.5rem;
   color: #000;
}

.footer{
    background-color: var(--azulOscuro);
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.footer .box-container .box{ 
    flex: 1 1 25rem ;

}
.footer .box-container .box h3{ 
    color: var(--lila);
    font-size: 2.5rem ;
    padding: 1rem 0;

    
}
.footer .box-container .box a{ 
    display: block;
    color: var(--gris);
    font-size: 1.5rem ;
    padding: 1rem 0;
    
}

.footer .box-container .box a:hover{ 
    color: var(--lila);
    text-decoration:underline;
    
}

.footer .creditos{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem ;
    font-size: 2rem;
    color: var(--gris) ;
    border-top: .1rem solid rgba(0,0,0,.1);
}

.footer .creditos span{
    
    color: var(--lila) ;


}


/* Sobre nosotros */


.Equipo .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.Equipo .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1) ;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    position: relative;
    
}
.Equipo .box-container .box  img{
    width: 30rem;
    height: 30rem;
    
}
.Equipo .box-container .box  .card-text{
    font-size: 2rem;
    
}





.Equipo .box-container .box .content{
    text-align: center;
    padding: 2rem;
}
.Equipo .box-container .box .content h3{
   font-size: 2.5rem;
   color: #000;
}




/* Nosotros */


.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 80%;
    max-width: 600px;
    gap: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.carousel-item {
    flex: none;
    scroll-snap-align: center;
    width: 100%;
    max-width: 200px;
    background-color: #007BFF;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}




















/*Media queries*/

@media (max-width: 991px){
    html{
        font-size: 55%;

    }
    header{
        padding:2rem ;
    }
    section{
        padding:2rem ;
    }
    .home{
        background-position: left;
    }

    .Equipo .box-container .box  img{
        width: 30rem;
        height: 30rem;
        margin-left: 20%;
    }
}

@media (max-width: 768px){
    header .fa-bars{
        display: block;

    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0,0,0,.1);
/* Esconder los a */

        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
/* Comportamiento para que la hamburguesa descienda */
header #toggler:checked ~ .navbar{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0,0,0,.1);
        display: block;

    }   

    .home .content h3{
       font-size: 5rem;

    }

    .home .content span{
        font-size: 2.5rem;
        
     }

     .Equipo .box-container .box  img{
        width: 30rem;
        height: 30rem;
        margin-left: 20%;
    }

   

    }
@media (max-width: 450px){
        html{
            font-size: 50%;
    
        }

        .heading{
            font-size: 3rem;
        }
       
    }



    