
.catalog .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.catalog .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1) ;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    width: 23%;
    position: relative;
    overflow-x: hidden;
    background-color: white;
    
}
.catalog .box-container .box .imagen img{
   /*  width: 30rem; */
    height: 30rem;
}

.catalog .box-container .box:hover{


    transform: scale(1.1); /* Solo escala la caja en sí */
    z-index: 20;
}

.catalog .box-container .box .imagen{
    position: relative; 
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.catalog .box-container .box .content{
    text-align: center;
    padding: 6rem;
}
.catalog .box-container .box .content h3{
   font-size: 1.5rem;
   color: var(--azulOscuro);
}
.slider {
	width: 95%;
	margin: auto;
    margin-top: 80px;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
    
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
