body {
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    margin: 0 auto;
    /*border: 5px dotted red*/ ;

}


header {
    grid-area: header;
    padding: 1em;
    text-align: center;
    /*border: 5px dotted red*/ ;
}


main {
    display: grid;
   /* grid-template-areas: 
        "principal"
        "nosotros"
        "productos"
        "video";*/
    
    margin: 50px auto;
    padding-bottom: 50px;
    width: 50%;

}

.imgprincipal {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente */
    padding-bottom: 5rem;
    text-align: center;
   /* border: 5px dotted red;*/
}

.Nosotros {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente */
    padding-bottom: 5rem;
}

.Productos {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente */
    padding-bottom: 5rem;
}

.Video {
   display: flex;
   justify-content: center; /* Centra horizontalmente */
   align-items: center;    /* Centra verticalmente */
   /*border: 5px dotted red;*/
   
}



main h2 {
    font-family: "Sail", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: black;
    color: white;
}



header img{
    float: left;
    width: 5rem;
    height: 5rem;
}

h1{
    display: none;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
}

.logo img {
    height: 50px; /* Ajusta el tamaño del logo según sea necesario */
}

.nav-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-items li {
    display: inline;
}

.nav-items a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-items a:hover {
    background-color: #575757;
}




.instrumentos{
  /*  width: 80%;*/
    overflow: hidden;
    float: right;
    margin: 5px;

    
}


.remeras{
    /*  width: 80%;*/
      overflow: hidden;
      float: right;
      margin: 0 5px 5px 5px;
    
   
}

  
.posters{
    /*  width: 80%;*/
      overflow: hidden;
      float: right;
      margin: 0 5px 5px 5px;

  }
  



footer {
    grid-area: footer;
    color: black;
    text-align: center;
    padding: 1em;
    background-color: white;
    
}



.footerbotonera {
    display: flex;
    justify-content: space-between; /* Distribuye los botones equidistantemente */
    padding: 20px;
    background-color:black
}


.footer-button {
    padding: 10px 20px;
    color: white;
    background-color:#282b28;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer-button:hover {
    background-color: white;
    color:black;
}



.footer-information {
    text-align: center;
    background-color:black;
    color:white;
    padding-bottom: 10px;
}

.redes{
    background-color: white;
    
}

i{
    text-align: center;
    font-size: 25px;
    color: black;
    margin: 20px;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, .35);
    transition: .3s ease;

}

.fa-facebook-f:hover{
    background-color: red;
    color: white;
    box-shadow: 0 0 15px red,
                0 0 45px red,
                0 0 75px red,
                0 0 115px red;

}


.fa-twitter:hover{
    background-color: rgb(17, 0, 255);
    color: white;
    box-shadow:  0 0 115px rgb(17, 0, 255),
    0 0 75px rgb(17, 0, 255),
    0 0 45px rgb(17, 0, 255),
    0 0 15px rgb(17, 0, 255);
}


.fa-instagram:hover{
    background-color: rgb(29, 170, 60);
    color: white;
    box-shadow: 0 0 115px rgb(29, 170, 60),
                0 0 75px rgb(29, 170, 60),
                0 0 45px rgb(29, 170, 60),
                0 0 15px rgb(29, 170, 60);

}

.fa-linkedin-in:hover{
    background-color: rgb(167, 196, 38);
    color: white;
    box-shadow: 0 0 15px rgb(167, 196, 38),
                0 0 45px rgb(167, 196, 38),
                0 0 75px rgb(167, 196, 38),
                0 0 115px rgb(167, 196, 38);

}